/* CSS Document */
@charset "utf-8";
@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;}
.khung{
	height:auto;
	width:1190px;
	border:solid 1px #000000;
	border-bottom:none;
	margin:auto;
	
	}

.bannerql{
	height: 100px;
	width:100%;
	border:solid 1px #000000;
	}
.gioithieu{
	height:50px;
	width:100%;
	border:solid 1px #000000;
	font-style:inherit;
	font-size:19px;
	}

.main{
	height:auto;
	width:100%;
	border:solid 1px #000000;
	border-bottom:none;
}

	

